.main_table {
  width: 100%;
  margin-bottom: 20px;
  border-spacing: 0px;
  background-color: white;
  border-bottom: 1px solid #3e5569;
}

.table_head_row {
  margin-top: 2px;
  background-color: aliceblue;
}

.table_head {
  cursor: pointer;
  border-top: 1px solid #3e5569;
  padding-left: 5px;
  text-align: left;
  padding-left: 10px;
}

.table_head_text {
  height: 30px;
  padding-left: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.table_head_text > span {
  margin-left: 5px;
}

.table_row {
  height: 50px;
  margin-top: 2px;
}

.table_row:nth-child(even) {
  background-color: aliceblue;
}

.cell {
  border-top: 1px solid #3e5569;
  padding-left: 5px;
  text-align: left;
  padding-left: 5px;
}
